<div class="media">
  <div class="media-left media-top">
    <img src="{{imgUrl}}{{item?.id}}.jpg" width="{{imgWidth}}" />
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{item?.name}}</h4>
    <ul class="description">
        <li>Цвет: {{item?.color}}</li>
        <li>Материал: {{item?.material}}</li>
        <li>Артикул: {{item?.articul}}</li>
        <li>Цена: {{item?.price}} ₴</li>
        <li>Бренд: {{item?.brand}}</li>
        <li>Размеры: {{item?.size}}</li>
    </ul>
    <p>
        <a href="#" class="btn btn-default" role="button">Купить</a>
    </p>
  </div>
</div>