<div class="page-header">
    <div class="media">
        <div class="media-left">
            <a href="/">
                <img class="media-object" src="http://halatik.com.ua/view/layout/images/logo.jpg" />
            </a>
        </div>
        <div class="media-body">
            <h1><small>Интернет-магазин домашней одежды</small></h1>
        </div>
    </div>
</div>

<div class="left">
    <ul class="menu">
        <li><a href="/usefull_info">Полезная информация</a></li>
    </ul>
    <hr />
    <navigation></navigation>
</div>

<div class="txt">
    <router-outlet></router-outlet>
</div>