<div class="row">
    <div *ngFor="let product of products" class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a [routerLink]="['/catalog/item', product.id + '-' + product.translit]">
                <img src="{{previewImgUrl}}{{product.id}}.jpg" width="{{previewImgWidth}}" />
            </a>
            <div class="caption">
                <h4>{{product.name}}</h4>
                <ul class="description">
                    <li>Цвет: {{product.color}}</li>
                    <li>Материал: {{product.material}}</li>
                    <li>Артикул: {{product.articul}}</li>
                    <li>Цена: {{product.price}} ₴</li>
                    <li>Бренд: {{product.brand}}</li>
                    <li>Размеры: {{product.size}}</li>
                </ul>
                <p>
                    <button class="btn btn-default" (click)="showChildModal(product)">Купить в 1 клик</button>
                </p>
            </div>
        </div>
    </div>
</div>


<!--Large modal-->

 
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Купить в 1 клик</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

        <div class="row">
            <div class="col-md-3"><img src="{{previewImgUrl}}{{selected?.id}}.jpg" width="{{previewImgWidth}}" /></div>
            <div class="col-md-9">
                <h4>{{selected?.name}}</h4>
                <ul class="description">
                    <li>Цвет: {{selected?.color}}</li>
                    <li>Материал: {{selected?.material}}</li>
                    <li>Артикул: {{selected?.articul}}</li>
                    <li>Цена: {{selected?.price}} ₴</li>
                    <li>Бренд: {{selected?.brand}}</li>
                    <li>Размеры: {{selected?.size}}</li>
                </ul>
            </div>
        </div>


          
          
            <form class="navbar-form">
                <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="phone" name="phone" placeholder="Введите номер телефона" style="width: 250px;">
                </div>
                <button type="submit" (click)="sendMail()" class="btn btn-default">Заказать</button>
            </form>
      </div>
    </div>
  </div>
</div>